doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Batteries Page
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB' crossorigin='anonymous')
nav.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid
    a.navbar-brand(href='#') Batteries
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(aria-current='page' href='#') Manager
        li.nav-item
          a.nav-link(href='#') Attendant
        li.nav-item
          a.nav-link(href='#') Admin
        li.nav-item
          a.nav-link(href='#') Cars
        li.nav-item
          a.nav-link(href='#') Users
.col-md-4
  .card.shadow.dashboard-card.p-3.text-center
    h5 BATTERY REPORTS
    h2.text-primary 3
table.table
  thead
    tr
      th(scope='col') Battery Image
      th(scope='col') Battery Type
      th(scope='col') Battery Size
  tbody
    if batteries.length
      each battery in batteries
        tr
          td 
            img(src="/"+battery.batteryImage alt="Battery image" width="150px", height="170px")
          td #{battery.batteryType}
          td #{battery.batterySize}
