doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Vehicle Registration
  link(rel='stylesheet' href='CSS/register.css')
header.topbar
  .logo
    img(src='Assests/logo-P.png' alt='parkease-logo' width='100')
    span.logo-text ParkEase
  // NavBar
  nav.menu
    .nav-brand
      h2 ParkEase
    .nav-links
      a(href='reports.html') Reports
      a(href='attendantdashboard.html') Attendant
      a(href='register.html') Register
      a(href='battery.html') Battery
      a(href='tyre-hire.html') Tyre-hire
      a(href='signout.html') Signout
      a(href='login.html') Logout
  .user
    span.name Parvin Rulz
    span.role ATTENDANT
// Main
main.container
  h1 Vehicle Registration
  p.subtitle
    | Register incoming vehicles for secure entry and automated billing
  .card
    h3 Driver Information
    .grid
      .field
        label Driver Name
        input(type='text' placeholder='Enter driver full name')
      .field
        label Phone Number
        input#phoneNumber(type='text' placeholder='+256XXXXXXXXX')
        #phoneError.error
    h3 Vehicle Information
    .grid
      .field
        label Vehicle Type
        select
          option(value='Sedan') Sedan / Hatchback
          option(value='Suv') SUV
          option(value='Personal Car') Personal Car
          option(value='Taxi') Taxi
          option(value='Truck') Truck
          option(value='Coaster') Coaster
          option(value='Boda-boda') Boda-boda
      .field
        label Number Plate
        input(type='text' placeholder='UBA- 1234')
        #plateError.error
      // Arrival Time
      label Arrival Time
      input#arrivalTime(type='datetime-local')
      #arrivalError.error
      .field
        label Vehicle Model &amp; Color
        input(type='text' placeholder='e.g Toyota Camry, Silver')
        #plateError.error
      .field
        label NIN Number
        input#numberPlate(type='text' placeholder='e.g UBA 123X')
        #plateError.error
    .buttons
      button.register Register &amp; Print Receipt
      button.clear Clear Form
script(src='JAVASCRIPT/validateregex.js')
