doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sign-out and Receipting
  // Bootstrap CSS
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet')
  // Custom CSS
  link(rel='stylesheet' href='Public/CSS/signOut.css')
// TOP BAR
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.px-3
  a.navbar-brand(href='#')
    h2 ParkVille
  button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav.ms-auto
      li.nav-item
        a.nav-link(href='reports.html') Reports
      li.nav-item
        a.nav-link(href='register.html') Register
      li.nav-item
        a.nav-link(href='attendants.html') Attendants
      li.nav-item
        a.nav-link.active(href='signout.html') Sign Out
      li.nav-item
        a.nav-link(href='battery.html') Battery
      li.nav-item
        a.nav-link(href='tyre.html') Tyre
// Search and User Info
.container.my-3.d-flex.justify-content-between.align-items-center
  input.form-control.w-50(type='text' placeholder='Search Receipt by ID or Plate Number')
  .text-end
    span.d-block Parvin Rulz
    span.text-muted ATTENDANT
// Main Container
.container
  h1.mb-2 Vehicle &amp; Arrival Details
  p.text-muted.mb-4 Review parking details and confirm payment
  .row
    // Left Side
    .col-lg-6.mb-4
      // Vehicle Info
      .card.mb-3.shadow-sm
        .row.g-0.align-items-center
          .col-4.text-center.p-3
            img.img-fluid(src='Assests/truck.png' alt='Truck')
          .col-8
            .card-body
              h5.card-title John Baptist Ssemuwemba
              p.card-text Heavy Truck (T-04)
              .d-flex.justify-content-between
                div
                  span.text-muted Arrival Time
                  p 10:24 AM
                div
                  span.text-muted Stay Duration
                  p 4h 20m
      // Parking Fee
      .card.text-center.mb-3.p-3.shadow-sm
        span.text-muted CALCULATED PARKING FEE
        h2.my-2 UGX 17,500
      // Receiver Information
      .card.mb-3.shadow-sm.p-3
        h5 Receiver Information
        .row.g-3.mt-2
          .col-md-6
            label.form-label Full Name
            input.form-control(type='text' value='John Baptist Ssemuwemba')
          .col-md-6
            label.form-label Phone Number
            input.form-control(type='text' value='+256')
          .col-md-6
            label.form-label NIN Number
            input.form-control(type='text' value='CMD000000000AAA')
          .col-md-6
            label.form-label Gender
            select.form-select
              option Male
              option Female
          .col-md-6
            label.form-label Payment Methods
            select.form-select
              option Mobile Money
              option Cash
      // Buttons
      .d-flex.gap-2
        button.btn.btn-warning.flex-fill Confirm Payment &amp; Sign-out
        button.btn.btn-secondary.flex-fill Cancel
    // Right Side - Receipt
    .col-lg-6.mb-4
      .card.shadow-sm.p-3
        .text-center.mb-3
          img(src='Assests/logo-P.png' alt='parkease-logo' width='100')
          h5.mt-2 PARKVILLE
          p.text-muted
            | Plot 28 Kampala Central 
            br
            |                 +256 789 000000
        hr
        .d-flex.justify-content-between.mb-2
          span Receipt ID
          span #PV-2023-49812
        .d-flex.justify-content-between.mb-2
          span Date/Time
          span Oct 24, 2023 02:44 PM
        hr
        .d-flex.justify-content-between.mb-2
          span Vehicle Number Plate
          span UBA 123X
        .d-flex.justify-content-between.mb-2
          span Vehicle Type
          span Heavy Truck (T-04)
        .d-flex.justify-content-between.mb-2
          span Entry Time
          span 10:24 AM
        .d-flex.justify-content-between.mb-2
          span Stay Duration
          span 4h 20m
        hr
        .d-flex.justify-content-between.align-items-center.mb-3
          span Total Amount
          h4.mb-0 UGX 17,500
        .text-center
          img.img-fluid.mb-2(src='Assests/qr.jpg' alt='qr code')
          p.text-muted.mb-0 SCAN TO VERIFY
        .d-flex.gap-2
        button.btn.btn-warning.flex-fill Print Receipt
        button.btn.btn-secondary.flex-fill Return Home
          
// Bootstrap JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js')
