*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f5f5f5;
color:#111;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:white;
}

.navbar nav a{
margin:0 15px;
text-decoration:none;
color:#444;
font-weight:500;
}

.nav-right{
display:flex;
align-items:center;
gap:15px;
}

.nav-right input{
padding:8px 12px;
border-radius:20px;
border:1px solid #ddd;
}

.signin{
background:#ffd000;
border:none;
padding:8px 16px;
border-radius:20px;
cursor:pointer;
}

.cart{
width:30px;
height:30px;
background:#ffd000;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
}


/* HERO */

.hero{
display:flex;
justify-content:space-between;
align-items:center;
margin:40px 80px;
background:#0f1b33;
color:white;
padding:50px;
border-radius:12px;
}

.hero-text{
max-width:500px;
}

.tag{
background:#1f2b4d;
padding:6px 12px;
font-size:12px;
border-radius:6px;
}

.hero h1{
font-size:42px;
margin:15px 0;
}

.hero h1 span{
color:#ffd000;
}

.hero p{
margin-bottom:20px;
line-height:1.5;
color:#d4d4d4;
}

.hero-buttons button{
margin-right:10px;
padding:10px 20px;
border-radius:6px;
border:none;
cursor:pointer;
}

.yellow{
background:#ffd000;
}

.outline{
background:transparent;
border:1px solid white;
color:white;
}

.hero-image img{
width:260px;
}


/* BROWSE */

.browse{
margin:60px 80px;
}

.browse-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.filters button{
margin-left:10px;
padding:8px 14px;
border-radius:20px;
border:none;
background:#eee;
cursor:pointer;
}

.filters .active{
background:#ffd000;
}

.products{
display:flex;
gap:25px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
width:300px;
box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.card img{
width:100%;
margin-bottom:10px;
}

.card h3{
margin:10px 0;
}

.stock{
color:green;
font-size:14px;
}

.low{
color:orange;
font-size:14px;
}

.offer{
color:#ffd000;
font-size:14px;
}

.card h4{
margin:15px 0;
}

.book{
background:#ffd000;
border:none;
width:100%;
padding:10px;
border-radius:6px;
cursor:pointer;
}


/* CTA */

.cta{
background:#ffd000;
margin:60px 80px;
padding:30px;
border-radius:10px;
display:flex;
justify-content:space-between;
align-items:center;
}

.cta button{
background:#0f1b33;
color:white;
border:none;
padding:12px 20px;
border-radius:6px;
cursor:pointer;
}


/* FOOTER */

footer{
background:#ffd000;
padding:40px 80px;
}

.footer-grid{
display:flex;
justify-content:space-between;
margin-bottom:30px;
}

.footer-grid h4{
margin-bottom:10px;
}

.footer-bottom{
display:flex;
justify-content:space-between;
font-size:14px;
}

.footer-bottom a{
margin-left:15px;
text-decoration:none;
color:#333;
}